name: "test"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: "Test"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25

      - name: "Test"
        run: |
          go test -v ./...
